{% extends 'base.html' %}
{% block content %}

			<div data-elementor-type="wp-page" data-elementor-id="592" class="elementor elementor-592">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-d6a62df elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d6a62df" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d529537" data-id="d529537" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-71d1d6e elementor-widget elementor-widget-heading" data-id="71d1d6e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Our Doctor</h2>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6ece779" data-id="6ece779" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7e8c10c elementor-icon-list--layout-inline elementor-align-right elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7e8c10c" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items elementor-inline-items">
							<li class="elementor-icon-list-item elementor-inline-item">
										<span class="elementor-icon-list-text">Home</span>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-chevron-right"></i>						</span>
										<span class="elementor-icon-list-text">Doctor</span>
									</li>
						</ul>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ab3cfed elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ab3cfed" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1ecafb4" data-id="1ecafb4" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-486f95f elementor-widget elementor-widget-heading" data-id="486f95f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Our Doctors</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-d1643a3 elementor-widget elementor-widget-heading" data-id="d1643a3" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Team Of Professionals
</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-977d3da elementor-widget elementor-widget-text-editor" data-id="977d3da" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-7da0b87 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7da0b87" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2b65158" data-id="2b65158" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-341bfac elementor-widget elementor-widget-jkit_team" data-id="341bfac" data-element_type="widget" data-widget_type="jkit_team.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-team style-overlay overlay-scale jeg_module_592_1_640f738433dfc"><div class="profile-card "><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/female-dentist-posing-in-office-H89D7UA.jpg" alt="Maya Navarro">
                <div class="hover-area alignment-bottom"><div class="profile-body">
                <h3 class="profile-title">Maya Navarro</h3>
                <p class="profile-designation">Orthodontist</p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-c625a9a"><a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-3a36d8c"><a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-e9c8942"><a href="https://pinterest.com"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e45a7bf" data-id="e45a7bf" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-157d4b8 elementor-widget elementor-widget-jkit_team" data-id="157d4b8" data-element_type="widget" data-widget_type="jkit_team.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-team style-overlay overlay-scale jeg_module_592_2_640f73843c689"><div class="profile-card "><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/dentist-in-clinic-G862RTP.jpg" alt="Roseanna Sykes">
                <div class="hover-area alignment-bottom"><div class="profile-body">
                <h3 class="profile-title">Roseanna Sykes</h3>
                <p class="profile-designation">Dentist</p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-c625a9a"><a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-3a36d8c"><a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-e9c8942"><a href="https://pinterest.com"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b4c1e28" data-id="b4c1e28" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4fda31d elementor-widget elementor-widget-jkit_team" data-id="4fda31d" data-element_type="widget" data-widget_type="jkit_team.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-team style-overlay overlay-scale jeg_module_592_3_640f7384457a1"><div class="profile-card "><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/middle-eastern-dentist-posing-by-chair-3WJ4MEV.jpg" alt="Luisa Haworth">
                <div class="hover-area alignment-bottom"><div class="profile-body">
                <h3 class="profile-title">Luisa Haworth</h3>
                <p class="profile-designation">Dentist</p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-c625a9a"><a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-3a36d8c"><a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-e9c8942"><a href="https://pinterest.com"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-705c497 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="705c497" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b0c9208" data-id="b0c9208" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4646850 elementor-widget elementor-widget-jkit_team" data-id="4646850" data-element_type="widget" data-widget_type="jkit_team.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-team style-overlay overlay-scale jeg_module_592_4_640f73844d42f"><div class="profile-card "><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/beautiful-female-dentist-portrait-VVA6T8L.jpg" alt="Vanesa Walters">
                <div class="hover-area alignment-bottom"><div class="profile-body">
                <h3 class="profile-title">Vanesa Walters</h3>
                <p class="profile-designation">Orthodontist</p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-c625a9a"><a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-3a36d8c"><a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-e9c8942"><a href="https://pinterest.com"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-42c61d6" data-id="42c61d6" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e3bddbc elementor-widget elementor-widget-jkit_team" data-id="e3bddbc" data-element_type="widget" data-widget_type="jkit_team.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-team style-overlay overlay-scale jeg_module_592_5_640f738454c5f"><div class="profile-card "><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/smiling-female-dentist-dental-clinic-JBF6ZRX.jpg" alt="Flora Frame">
                <div class="hover-area alignment-bottom"><div class="profile-body">
                <h3 class="profile-title">Flora Frame</h3>
                <p class="profile-designation">Dentist</p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-c625a9a"><a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-3a36d8c"><a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-e9c8942"><a href="https://pinterest.com"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-50c467e" data-id="50c467e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-aafa383 elementor-widget elementor-widget-jkit_team" data-id="aafa383" data-element_type="widget" data-widget_type="jkit_team.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-team style-overlay overlay-scale jeg_module_592_6_640f73845c0b3"><div class="profile-card "><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/smiling-dentist-standing-with-arms-crossed-P55SNTE-1.jpg" alt="Miguel Crane">
                <div class="hover-area alignment-bottom"><div class="profile-body">
                <h3 class="profile-title">Miguel Crane</h3>
                <p class="profile-designation">Senior Dentist</p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-c625a9a"><a href="#"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-3a36d8c"><a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-e9c8942"><a href="https://pinterest.com"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1c95a8b elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1c95a8b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-eb692d7" data-id="eb692d7" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-603b1d2 animated-slow elementor-invisible elementor-widget elementor-widget-heading" data-id="603b1d2" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Testimonial</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-8a6b5e0 elementor-widget elementor-widget-heading" data-id="8a6b5e0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">What Customer Says
</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-90619cf elementor-widget elementor-widget-text-editor" data-id="90619cf" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-4a9588a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4a9588a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a426eaf" data-id="a426eaf" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8116b74 elementor-widget elementor-widget-jkit_testimonials" data-id="8116b74" data-element_type="widget" data-widget_type="jkit_testimonials.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-testimonials arrow-middle-edge style-2  jeg_module_592_7_640f738468c46" data-id="jeg_module_592_7_640f738468c46" data-settings="{&quot;autoplay&quot;:true,&quot;autoplay_speed&quot;:3500,&quot;autoplay_hover_pause&quot;:false,&quot;show_navigation&quot;:false,&quot;navigation_left&quot;:&quot;&lt;i aria-hidden=\&quot;true\&quot; class=\&quot;fas fa-angle-left\&quot;&gt;&lt;\/i&gt;&quot;,&quot;navigation_right&quot;:&quot;&lt;i aria-hidden=\&quot;true\&quot; class=\&quot;fas fa-angle-right\&quot;&gt;&lt;\/i&gt;&quot;,&quot;show_dots&quot;:false,&quot;arrow_position&quot;:&quot;bottom&quot;,&quot;responsive&quot;:{&quot;desktop&quot;:{&quot;items&quot;:3,&quot;margin&quot;:10,&quot;breakpoint&quot;:1025},&quot;tablet&quot;:{&quot;items&quot;:2,&quot;margin&quot;:10,&quot;breakpoint&quot;:768},&quot;mobile&quot;:{&quot;items&quot;:1,&quot;margin&quot;:10,&quot;breakpoint&quot;:0}}}"><div class="testimonials-list">
            <div class="testimonials-track"><div class="testimonial-item  elementor-repeater-item-6e9b2e1">
                    <div class="testimonial-box hover-from-left">
                        <div class="comment-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p></div>
                    <div class="comment-header"><ul class="rating-stars"></ul></div>
                    <div class="comment-bio"><div class="bio-details">
                <div class="profile-image"><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/testimonial-Q8JDNBT.png" alt="Taryn Barrow"></div>
                <span class="profile-info">
                    <strong class="profile-name">Taryn Barrow</strong>
                    <p class="profile-des">Entrepreneur</p>
                </span>
            </div><div class="icon-content"><i aria-hidden="true" class="icon icon-quote1"></i></div></div>
                    </div>
                </div><div class="testimonial-item  elementor-repeater-item-d069a43">
                    <div class="testimonial-box hover-from-left">
                        <div class="comment-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p></div>
                    <div class="comment-header"><ul class="rating-stars"></ul></div>
                    <div class="comment-bio"><div class="bio-details">
                <div class="profile-image"><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/testimonial-YV9ABZR.png" alt="Oliver Gomez"></div>
                <span class="profile-info">
                    <strong class="profile-name">Oliver Gomez</strong>
                    <p class="profile-des">Manager</p>
                </span>
            </div><div class="icon-content"><i aria-hidden="true" class="icon icon-quote1"></i></div></div>
                    </div>
                </div><div class="testimonial-item  elementor-repeater-item-1c4a96f">
                    <div class="testimonial-box hover-from-left">
                        <div class="comment-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p></div>
                    <div class="comment-header"><ul class="rating-stars"></ul></div>
                    <div class="comment-bio"><div class="bio-details">
                <div class="profile-image"><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/testimonial-83S5W35.jpg" alt="Shyla Giles"></div>
                <span class="profile-info">
                    <strong class="profile-name">Shyla Giles</strong>
                    <p class="profile-des">HR Manager</p>
                </span>
            </div><div class="icon-content"><i aria-hidden="true" class="icon icon-quote1"></i></div></div>
                    </div>
                </div><div class="testimonial-item  elementor-repeater-item-2229ddb">
                    <div class="testimonial-box hover-from-left">
                        <div class="comment-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p></div>
                    <div class="comment-header"><ul class="rating-stars"></ul></div>
                    <div class="comment-bio"><div class="bio-details">
                <div class="profile-image"><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/testimonial-M6NJPEF.png" alt="Johnny Oneill"></div>
                <span class="profile-info">
                    <strong class="profile-name">Johnny Oneill</strong>
                    <p class="profile-des">HR Manager</p>
                </span>
            </div><div class="icon-content"><i aria-hidden="true" class="icon icon-quote1"></i></div></div>
                    </div>
                </div></div>
        </div></div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-8dafa1a elementor-section-content-middle elementor-reverse-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8dafa1a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-603df44 elementor-hidden-phone" data-id="603df44" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-203bec1 elementor-widget elementor-widget-image" data-id="203bec1" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1146" height="1347" src="/static/wp-content/uploads/sites/64/2021/03/professional-female-dentist-at-work-9SDJLQ4-e1616854265713.jpg" class="attachment-full size-full wp-image-353" alt="" decoding="async" loading="lazy" srcset="/static/wp-content/uploads/sites/64/2021/03/professional-female-dentist-at-work-9SDJLQ4-e1616854265713.jpg 1146w, /static/wp-content/uploads/sites/64/2021/03/professional-female-dentist-at-work-9SDJLQ4-e1616854265713-255x300.jpg 255w, /static/wp-content/uploads/sites/64/2021/03/professional-female-dentist-at-work-9SDJLQ4-e1616854265713-871x1024.jpg 871w, /static/wp-content/uploads/sites/64/2021/03/professional-female-dentist-at-work-9SDJLQ4-e1616854265713-768x903.jpg 768w, /static/wp-content/uploads/sites/64/2021/03/professional-female-dentist-at-work-9SDJLQ4-e1616854265713-800x940.jpg 800w" sizes="(max-width: 1146px) 100vw, 1146px">															</div>
				</div>
				<div class="elementor-element elementor-element-fbc4d17 elementor-widget__width-auto elementor-absolute jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box" data-id="fbc4d17" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="jkit_icon_box.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-icon-box icon-position- elementor-animation- jeg_module_592_8_640f73847144d"><div class="jkit-icon-box-wrapper hover-from-left"><div class="icon-box icon-box-header elementor-animation-float"><div class="icon style-color"><img decoding="async" src="/static/wp-content/uploads/sites/64/2021/03/Asset-11%402x.png"></div></div><div class="icon-box icon-box-body">
                
            </div>
            
            </div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bf20eec" data-id="bf20eec" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-85642f8 animated-slow elementor-invisible elementor-widget elementor-widget-heading" data-id="85642f8" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h5 class="elementor-heading-title elementor-size-default">Best Of The Best</h5>		</div>
				</div>
				<div class="elementor-element elementor-element-d2ad87d elementor-widget elementor-widget-heading" data-id="d2ad87d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">High End Equipments
</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-40d5ba2 elementor-widget elementor-widget-text-editor" data-id="40d5ba2" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.						</div>
				</div>
				<div class="elementor-element elementor-element-3fbc155 elementor-widget elementor-widget-jkit_progress_bar" data-id="3fbc155" data-element_type="widget" data-widget_type="jkit_progress_bar.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-progress-bar jeg_module_592_9_640f7384788a2"><div class="progress-group ">
            <div class="progress-skill-bar"><div class="skill-bar-content"><span class="skill-title">Endodontic Equipment</span></div>
                <div class="skill-bar">
                    <div class="skill-track">
                        
                        <div class="number-percentage-wrapper">
                            <span class="number-percentage" data-value="86" data-animation-duration="3500">86%</span>
                        </div>
                    </div>
                </div></div>
        </div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-8d1639e elementor-widget elementor-widget-jkit_progress_bar" data-id="8d1639e" data-element_type="widget" data-widget_type="jkit_progress_bar.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-progress-bar jeg_module_592_10_640f73847a392"><div class="progress-group ">
            <div class="progress-skill-bar"><div class="skill-bar-content"><span class="skill-title">Operatory Cabinetry</span></div>
                <div class="skill-bar">
                    <div class="skill-track">
                        
                        <div class="number-percentage-wrapper">
                            <span class="number-percentage" data-value="90" data-animation-duration="3500">90%</span>
                        </div>
                    </div>
                </div></div>
        </div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-b87c481 elementor-widget elementor-widget-jkit_progress_bar" data-id="b87c481" data-element_type="widget" data-widget_type="jkit_progress_bar.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-progress-bar jeg_module_592_11_640f73847bd07"><div class="progress-group ">
            <div class="progress-skill-bar"><div class="skill-bar-content"><span class="skill-title">Surgical Microscopes</span></div>
                <div class="skill-bar">
                    <div class="skill-track">
                        
                        <div class="number-percentage-wrapper">
                            <span class="number-percentage" data-value="87" data-animation-duration="3500">87%</span>
                        </div>
                    </div>
                </div></div>
        </div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-355bac0 elementor-widget elementor-widget-jkit_progress_bar" data-id="355bac0" data-element_type="widget" data-widget_type="jkit_progress_bar.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-progress-bar jeg_module_592_12_640f73847d9fc"><div class="progress-group ">
            <div class="progress-skill-bar"><div class="skill-bar-content"><span class="skill-title">Dental Operatory Lights</span></div>
                <div class="skill-bar">
                    <div class="skill-track">
                        
                        <div class="number-percentage-wrapper">
                            <span class="number-percentage" data-value="90" data-animation-duration="3500">90%</span>
                        </div>
                    </div>
                </div></div>
        </div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-3ad18f6 elementor-align-left elementor-widget elementor-widget-button" data-id="3ad18f6" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-float" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Learn More</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-10333ce elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="10333ce" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d630ee4" data-id="d630ee4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-1e31a7b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1e31a7b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-900734b" data-id="900734b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8ef8f20 elementor-widget elementor-widget-jkit_fun_fact" data-id="8ef8f20" data-element_type="widget" data-widget_type="jkit_fun_fact.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-fun-fact align-center hover-from-left elementor-animation- jeg_module_592_13_640f738481acb"><div class="fun-fact-inner"><div class="icon elementor-animation-"><i aria-hidden="true" class="icon icon-users2"></i></div>
            <div class="content">
                <div class="number-wrapper"><span class="prefix"></span>
        <span class="number" data-value="1452" data-animation-duration="3500">0</span>
        <span class="suffix"></span></div>
                <span class="title">Happy Patients</span>
            </div>
        </div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-cd2453a" data-id="cd2453a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1a0de8b elementor-widget elementor-widget-jkit_fun_fact" data-id="1a0de8b" data-element_type="widget" data-widget_type="jkit_fun_fact.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-fun-fact align-center hover-from-left elementor-animation- jeg_module_592_14_640f7384843b8"><div class="fun-fact-inner"><div class="icon elementor-animation-"><i aria-hidden="true" class="jki jki-app-light"></i></div>
            <div class="content">
                <div class="number-wrapper"><span class="prefix"></span>
        <span class="number" data-value="342" data-animation-duration="3500">0</span>
        <span class="suffix"></span></div>
                <h5 class="title">Online Appointments</h5>
            </div>
        </div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-9189be8" data-id="9189be8" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-fffa54e elementor-widget elementor-widget-jkit_fun_fact" data-id="fffa54e" data-element_type="widget" data-widget_type="jkit_fun_fact.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-fun-fact align-center hover-from-left elementor-animation- jeg_module_592_15_640f738486945"><div class="fun-fact-inner"><div class="icon elementor-animation-"><i aria-hidden="true" class="jki jki-badge"></i></div>
            <div class="content">
                <div class="number-wrapper"><span class="prefix"></span>
        <span class="number" data-value="15" data-animation-duration="3500">0</span>
        <span class="suffix"></span></div>
                <h5 class="title">Years Of Experience</h5>
            </div>
        </div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-7901662" data-id="7901662" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b455c86 elementor-widget elementor-widget-jkit_fun_fact" data-id="b455c86" data-element_type="widget" data-widget_type="jkit_fun_fact.default">
				<div class="elementor-widget-container">
			<div class="jeg-elementor-kit jkit-fun-fact align-center hover-from-left elementor-animation- jeg_module_592_16_640f7384893fd"><div class="fun-fact-inner"><div class="icon elementor-animation-"><i aria-hidden="true" class="jki jki-doctor-light"></i></div>
            <div class="content">
                <div class="number-wrapper"><span class="prefix"></span>
        <span class="number" data-value="72" data-animation-duration="3500">0</span>
        <span class="suffix"></span></div>
                <h5 class="title">Doctors and Staff</h5>
            </div>
        </div></div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
							</div>
	{% endblock %}